*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
body{
    font-family: "Inter", sans-serif;
    color: #000;
}

.container{
    padding: 20px;
    max-width: 610px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    border: solid rgb(249, 217, 89);
    align-items: center;
    margin: 10%;
    margin-left: 30%;
    border-color:rgb(243, 202, 148);
    display: flex;
    flex-direction: column;
}
.intro-name{
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
.paragraph{
    font-size: 20px;
}
.button{
    align-items: center;
}
button{
    margin-top: 20px;
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    background: orangered;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
