*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    max-width: 900px;
    margin: auto;
}
.img img{
    width: 100%;
    height: 200px;
    width: 280px;
    object-fit: cover;
}
.card1, .card2, .card3, .card4{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 8px;
    justify-content: center;
}
.tagdiv{
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 5px;
}