*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "one  one    one"
    "two  three  three"
    ".    four   four";
    border: solid greenyellow 1px;
    margin: 10px;
    gap: 20px;
    padding: 10px;
}
.card1, .card2, .card3, .card4{
    background-color: cadetblue;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    min-height: 50px;
    border-radius: 10px;
}
.card1{
    grid-area: one;
}
.card2{
    grid-area: two;
}
.card3{
    grid-area: three;
}
.card4{
    grid-area: four;
}