* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 768px;
}

.section1 {
    background-image: linear-gradient(to right, #45b6fee9, #0018f9e9),
        url(./images/evie_default_bg.jpeg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    column-gap: 50px;
}
.section1-text {
    padding-top: 25%;
color: white;
text-align: center;
}

.text-para{
    padding: 40px;
}
.text-btn{
    margin-left: 40%;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100px;
    background-color: green;
    padding: 10px;
}
.section2 {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    column-gap: 50px;
    padding: 40px;
}
 .section2-div2-img {
    padding-top: 80px;
    padding-bottom: 40px;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    column-gap: 50px;
    padding: 40px;
}
.section3-div1-img {
    padding-top: 80px;
    padding-bottom: 40px;
}
.section4{ 
    background-image: linear-gradient(to left, #0018f9, #45b6fe);   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    column-gap: 50px;
    padding: 40px;
}
.section5-list{
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    background-color: #18181be9;
    color: white;
}

.links{
    color: white;
}
.text-button-evie{
    background-color: rgb(14, 177, 14);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    color: white;
    border: rgb(14, 177, 14);
}
.section5-list-items{
    padding: 40px;
}
.section5-list-items-1{
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}