*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
    border: solid cadetblue 1px;
}
.card1{
    background-color: cadetblue;
    min-height: 150px;
    border: solid rgb(0, 113, 117);
    border-radius: 5px;
    color: white;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.card2{
    background-color: #f08799b9;
    min-height: 150px;
    border: solid pink;
    border-radius: 5px;
    color: white;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}